.projectCard {
  height: 100%;
}

.projectLink {
  text-decoration: none;
  color: inherit;
  height: 100%;
  display: block;
}

.projectLink .card__image {
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.projectLink .card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projectLink .card__body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description {
  font-size: 0.875rem;
  margin: 0;
}
