.projectCard {
  height: 100%;
}

.projectLink {
  text-decoration: none !important;
  color: inherit !important;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.projectLink:hover {
  text-decoration: none;
}

.projectLink .card__image img {
  width: 100%;
  height: 200px; /* Fixed height for images */
  object-fit: cover; /* Ensure images cover the area without distortion */
}

.projectLink .card__body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
